body {
  font-family: Arial, sans-serif;
}

.logo-navbar {
  height: 50px;
  object-fit: contain;
}

.py-5{
  background-color: rgb(0, 0, 0, 0.1);
}

.col-md-4{
  transition: transform 0.3s ease;
}

.col-md-4:hover{
  transform: scale(1.05);  
}

.col-md-4 h5{
  font-weight: bold;
}

.bg-primary{
  margin-bottom: -50px;
}

.hover-shadow{
  transition: 0.3s ease;
}

.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.gallery-img {
  transition: transform 0.3s ease;
  height: 250px;
  object-fit: cover;
  width: 100%;
}
.gallery-img:hover {
  transform: scale(1.05);
}

.col-md-6{
  transition: transform 0.3s ease;
}

.col-md-6:hover{
  transform: scale(1.05);  
}

.col{
  transition: transform 0.3s ease;
}

.col:hover{
  transform: scale(1.05);
}